*{
    padding: 0;
    margin: 0;
    height: 100%;

}
body{
    background-image: linear-gradient(to bottom, #f50909, #b90000,#680202);
    display: flex;
    justify-content: center;
    align-items: center;
}
#titulo{
    text-align: center;
    color: rgb(0, 0, 0);
    margin: none;
    height: 20px;
    
}
.container{
    background-color: rgb(170, 68, 0);
    border-radius: 8px;
    width: 500px;
    height: 500px;
    padding: 40px;

}

.container > img{
    margin: auto;
    display: block;
    border-radius: 50%;
    margin-top: 50px;
    width: 350px;
    height: 350px;
}
input{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 170px;
    height: 35px;
    border: none;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.836);
    background-color: rgb(29, 28, 28);
    color: rgb(255, 0, 0);
    border-radius: 5px;
    transition: 0.3s ease;

}
input:hover{
    background-color: black;
    cursor: pointer;
}